body{
    margin: 0;
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.barra-superior{
    width: auto;
    height: auto;
    background-color: #0000ff;
    border: solid 1px #000;

}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    text-align: center;
}

.logo {
    position: absolute;
    left: 1%;
    top: 10%;
  
}

.playstation5{
    text-align: center;
}


.playstation5 p {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 25px;
   position: absolute;
   top: 500px;
   right: 85%;
}

.comprar{
    position: absolute;
    margin-left: 50%;
}

button{
    background-color: #000; /* Green */
    border: none;
    color:#FFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    
}

a {
    text-decoration: none;
}
